In [1]:
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Sensor_record_20220409_183645_AndroSensor.csv',sep=';', engine='python')

In [4]:
data

,ACCELEROMETER X (m/s²),ACCELEROMETER Y (m/s²),ACCELEROMETER Z (m/s²),LINEAR ACCELERATION X (m/s²),LINEAR ACCELERATION Y (m/s²),LINEAR ACCELERATION Z (m/s²),GYROSCOPE X (rad/s),GYROSCOPE Y (rad/s),GYROSCOPE Z (rad/s),Time since start in ms,YYYY-MO-DD HH-MI-SS_SSS
0,3.5450,-1.6642,6.8910,-0.8329,-1.5699,-0.4815,-1.2360,-3.1367,0.0426,6,2022-04-09 18:34:33:923
1,5.4718,-4.9038,8.5472,-2.3322,-3.7456,-0.2938,-2.1584,-2.8953,0.3885,106,2022-04-09 18:34:34:023
2,7.6155,-5.0602,9.4259,-2.3534,-3.2655,3.3445,-2.2623,-1.9091,1.2344,206,2022-04-09 18:34:34:123
3,9.8375,-2.2454,9.6667,2.2775,0.8591,6.2060,-1.3594,-0.4714,1.0227,305,2022-04-09 18:34:34:222
4,10.8174,-0.7675,8.2726,2.2049,2.4813,4.9761,-0.9212,0.3715,0.8147,409,2022-04-09 18:34:34:326
...,...,...,...,...,...,...,...,...,...,...,...
1313,1.1219,5.6100,8.0653,0.1660,0.3625,-0.4662,-0.2442,0.5722,-0.0157,62681,2022-04-09 18:35:36:598
1314,-2.5146,6.8683,8.0342,1.2787,-0.4727,1.1521,0.2611,0.4783,-0.1368,62781,2022-04-09 18:35:36:698
1315,-1.9029,6.6882,6.8862,-0.3601,0.1902,1.0755,0.7428,0.7242,0.0564,62881,2022-04-09 18:35:36:798
1316,-2.4227,6.9826,6.6096,0.4953,-0.2253,0.2477,0.5174,0.5340,-0.0079,62981,2022-04-09 18:35:36:898
1317,-2.3372,7.0301,5.7855,0.4783,-0.4549,0.7433,0.6076,0.5635,-0.0266,63080,2022-04-09 18:35:36:997

In [5]:
for i in range(3):
    data.drop(data.columns[3], axis=1, inplace=True)

In [6]:
for i in range(2):
    data.drop(data.columns[6], axis=1, inplace=True)

In [7]:
new_header = data.iloc[0] #grab the first row for the header
data = data[1:] #take the data less the header row
data.columns = new_header #set the header row as the df header

In [8]:
data.drop(data.index[1024:data.shape[0]])

0      3.5450  -1.6642   6.8910  -1.2360  -3.1367   0.0426
1      5.4718  -4.9038   8.5472  -2.1584  -2.8953   0.3885
2      7.6155  -5.0602   9.4259  -2.2623  -1.9091   1.2344
3      9.8375  -2.2454   9.6667  -1.3594  -0.4714   1.0227
4     10.8174  -0.7675   8.2726  -0.9212   0.3715   0.8147
5     13.8278   1.5915   1.7554   0.1788  -0.7287   0.5966
...       ...      ...      ...      ...      ...      ...
1020   1.8182   5.3504   7.8646   0.1735  -0.0852  -0.3283
1021  -0.0144   4.5921   8.4972  -0.2297   0.5159  -0.2307
1022   0.7735   5.5484   8.6288   0.3744  -0.4273  -0.0681
1023   0.6778   4.6463   9.7457  -0.0224   0.1958  -0.0837
1024   0.0640   4.5473   8.5412  -0.0484   0.0809   0.0808

[1024 rows x 6 columns]

In [9]:
import numpy as np

In [12]:
np.savetxt(r'E:\Arizona\Assignments\SEM-2\EEE-511\Datasets\Dataset #9\001_Aniruddha\1.txt', data.values, fmt='%f')